{% extends "auctions/layout.html" %}

{% block body %}
    <form method="POST" action="{% url 'item' listing_id=item.id %}">
        {% csrf_token %}
        <input type="hidden" name="add" value="{{ add }}">
        {% if add == 0 %}
            <button type="submit" name="submit_watchlist">Add to Watchlist</button>
        {% else %}
            <button type="submit" name="submit_watchlist">Remove from Watchlist</button>
        {% endif %}
    </form>
 
    {% if close_auction == 1 %}
        <form method="POST" action="{% url 'item' listing_id=item.id %}">
            {% csrf_token %}
            <button type="submit" name="submit_close_auction">Close the Auction</button>
        </form>
    {% endif %}
    
    <h2>Item</h2>
    <dl>
        <dt>Category: </dt><dd>{{ item.category }}</dd>
        <dt>ID: </dt><dd>{{ item.id }}</dd>
        <dt>Posted By: </dt><dd>{{ item.creator }}</dd>
        <dt>Title: </dt><dd>{{ item.title }}</dd>
        <dt>Starting Bid price: </dt><dd>${{ item.bid_price }}</dd>
        <dt>Current Bid price: </dt><dd>${{ item.current_bid_price }}</dd>
        <dt>Enter your bid (must be higher than current bid price): </dt>
        <form action="{% url 'item' listing_id=item.id %}" method="post">
            {% csrf_token %}
            {{ form.user_bid_price }}
            <button type="submit" name="submit_bid">Submit Bid</button>
        </form>

        
        <dt>Description: </dt><dd>{{ item.description }}</dd>
        <dd>
            <img src="{{ item.image_url }}" alt="Item image" style="max-width:200px;">
        </dd>

    </dl>

{% endblock %}