{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ user }}'s Watchlist:</h2>
    {% for item in watchlist %}
        <ul>
            <a href="{% url 'item' listing_id=item.id %}">
                <li>Category: {{ item.category }}</li>
                <li>ID: {{ item.id }}</li>
                <li>Title: {{ item.title }}</li>
                <li>Bid price: ${{ item.bid_price }}</li>
                <li>Description: {{ item.description }}</li>
                <li>
                    <img src="{{ item.image_url }}" alt="Item image" style="max-width:200px;">
                </li>
            </a>
        </ul>
    {% endfor %}

{% endblock %}